# Project exclude paths
/.gradle/
/Cinema Room Manager/task/build/
/Cinema Room Manager/task/out/
/Cinema Room Manager/task/out/production/classes/
/Topics/Introduction to generic programming/Correct the program/out/
/Topics/Introduction to generic programming/Correct the program/out/production/classes/
/Topics/Multidimensional array/Create cube/out/
/Topics/Multidimensional array/Create cube/out/production/classes/
/Topics/Multidimensional array/Fill the matrix by numbers/out/
/Topics/Multidimensional array/Fill the matrix by numbers/out/production/classes/
/Topics/Multidimensional array/The third row/out/
/Topics/Multidimensional array/The third row/out/production/classes/